@{
    ViewBag.Title = "Error de inicio de sesión";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h2>
</hgroup>

        </div>
    
    <div class="col-md-2"></div>
    </div>

